.card-container {
  padding: 2em;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 80%;
  margin: 200px auto;
}

.card-image {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  padding: 0.4em;
}

.card-body {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-text {
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.card-text p {
  text-align: left;
  color: #000;
  font-size: 1rem;
}

img {
  margin: auto;
  width: 200px;
  height: 200px;
}

.card-container button {
  width: 100px;
  padding: 7px;
  border: none;
  background-color: #455a64;
  color: #fff;
  cursor: pointer;
  margin: 5px 5px 0 0;
}
